<div>
	<div class="ui top fixed menu patient-navbar">
		<div class="ui header item on-mobile">
			<span>
				<i class="icon" :class="{'circle green': connected, 'plug red': !connected}" style="margin-right:0px;"></i>
			</span>
			{{name}}
		</div>

		<div class="right item on-mobile">
			<div class="ui labeled icon button" :class="nurse.color" @click="if (nurse.allowCalls) CallNurse()" style="margin-top:-5px;">
				<i :class="nurse.icon" class="icon"></i>
				{{nurse.status}}
			</div>
		</div>

		<div class="ui container on-desktop" style="height:70px;">
			<div class="left menu">
				<div class="item">
					<div class="ui header" :data-tooltip="connected ? 'Connected to system, all information displayed is in real time.' : 'Disconnected from system, actions will not work, information will not be updated.'" data-position="bottom left">
						<i class="icon" :class="{'circle green': connected, 'plug red': !connected}"></i>
						<div class="content">
							{{time}}
							<div class="sub header">{{date}}</div>
						</div>
					</div>
				</div>
				<div class="ui header item">
					<div class="content">
						{{name}}
						<div class="sub header">Room {{roomNumber}}</div>
					</div>
				</div>
			</div>

			<div class="right menu">
				<div class="item">
					<div class="ui labeled icon button" :class="nurse.color" @click="if (nurse.allowCalls) CallNurse()" style="font-size:18px;">
						<i :class="nurse.icon" class="icon"></i>
						{{nurse.status}}
					</div>
				</div>
				<!-- <div class="item">
					<div class="ui green labeled icon button" style="font-size:18px;">
						<i class="checkmark icon"></i>
						Nurse called
					</div>
				</div> -->
				<!-- <div class="item">
					<div class="ui blue labeled icon button" style="font-size:18px;">
						<i class="angle double right icon"></i>
						Nurse on the way
					</div>
				</div> -->
			</div>
		</div>
	</div>

	<!-- $(".ui.modal .progress .bar").css("width", "0%");
$(".ui.modal").modal({inverted:true, onVisible: function() {$(".ui.modal .progress .bar").css("width", "100%")}}).modal("show");
 -->

	<div class="ui small modal nurse-modal">
		<div class="ui huge header">Calling nurse...</div>
		<div class="actions">
			<div class="ui red huge cancel button">Cancel</div>
		</div>
		<div class="ui bottom attached blue progress">
			<div class="bar"></div>
		</div>
	</div>
</div>
