<div>
<div class="ui large header">
	In bed status
</div>

<div v-if="contact" class="ui green massive label">
	<i class="hotel icon"></i>
	Detected in bed
</div>
<div v-else class="ui massive label">
	<i class="question icon"></i>
	Not detected in bed
</div>

<!-- <h1 class="ui header">
	History
</h1>
Coming soon...
</div> -->
