<div>
<patient-navbar :connected="connected"></patient-navbar>
<div class="ui container with-patient-navbar">
	<h1 class="ui header">
		Good {{greeting}}, {{name}}.
	</h1>

	<div class="ui grid" style="position: relative;">
		<transition-group name="mobile-view" tag="span" :class="{row: !mobile}">
			<div v-if="!mobile || showMenu" class="six wide computer six wide tablet sixteen wide mobile column mobile-view-item menu-view" :key="0">
				<template v-for="category in categories">
					<div v-if="category.heading" class="ui large header">
						<i :class="category.icon" class="icon"></i>
						<div class="content">
							{{category.heading}}
							<div v-if="category.subHeading" class="sub header">
								{{category.subHeading}}
							</div>
						</div>
					</div>

					<div class="ui vertical pointing fluid menu">
						<template v-for="item in category.items">
							<a v-if="item.available &amp;&amp; connected" :class="{active: item.active}" class="item" @click="SelectComponent(item.component)">
								<div class="ui header">
									<i :class="item.icon" class="icon"></i>
									<div class="content">
										{{item.heading}}
										<div v-if="item.subHeading" class="sub header">
											{{item.subHeading}}
										</div>
									</div>
								</div>
							</a>
							<div v-else class="item" :class="{active: item.active}">
								<div class="ui red header">
									<i class="warning sign icon"></i>
									<div class="content">
										{{item.name}} unavailable
									</div>
								</div>
							</div>
						</template>
					</div>
				</template>
			</div>
			<div v-if="!mobile || !showMenu" class="ten wide computer ten wide tablet sixteen wide mobile column mobile-view-item component-view" :key="1">
				<button v-if="mobile" class="ui blue labeled icon fluid basic large button" @click="DisplayMenu()" style="margin-bottom: 10px;">
					<i class="content icon"></i>
					Menu
				</button>
				<component v-if="connected" v-bind:is="viewComponent" :connected="connected" :nurse="true">
				</component>
				<unavailable v-else :connected="connected"></unavailable>
			</div>
		</transition-group>
	</div>
</div>

</div>
